.card {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 25px 2%;
  position: relative;
  width: 29.3%;

  &:hover {
    & .infoIcon {
      opacity: 1;
    }
  }

  & img {
    margin-bottom: 20px;
    width: 100%;
    //height: 320px;
  }

  & .infoIcon {
    align-items: center;
    background: #424242;
    border-radius: 50%;
    content: "";
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 36px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;

    & .icon {
      height: 24px;
      width: 24px;
    }

  }


  & .titleWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;

    & .title {
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      opacity: 0.7;
    }

    & .year {
      border: 2px solid #555;
      border-radius: 4px;
      opacity: 0.7;
      padding: 6px 20px;
    }
  }

  & .type {
    align-self: flex-start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    opacity: 0.5;
  }

}
