@import "src/globals/colors.scss";

.header {
  height: 400px;
  position: relative;
  width: 100vw;
  //padding: 20px;


  & .background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;

    &::after {
      //backdrop-filter: blur(10px); /* apply the blur */
      content: "";
      height: 100%;
      pointer-events: none;
      position: absolute;
      transform: translate(-50%);
      width: 100%;
    }


  }

  & .foreground {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    z-index: 2;

    & .topSection {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      & .icon {
        color: $accent;
        margin: 0 70px;
      }

      & .addMovieButton {
        background: rgba(96, 96, 96, 0.4);
        border: none;
        border-radius: 4px;
        color: $accent;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        height: 46px;
        letter-spacing: 0.8px;
        line-height: 24px;
        margin: 0 70px;
        text-align: center;
        text-transform: uppercase;
        width: 177px;
      }
    }

    & .middleSection {
      align-items: center;
      display: flex;
      flex-direction: column;

      justify-content: center;
      margin: 0 100px;

      & .title {
        align-self: flex-start;
        color: $white;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }


}
