@import "src/globals/colors.scss";

.search {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  & .input {
    background: rgba(50, 50, 50, 0.8);
    border: none;
    border-radius: 4px;
    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    height: 57px;
    line-height: 24px;
    margin-right: 14px;
    outline: none;
    padding-left: 19px;
    width: 100%;
  }

  & .searchButton {
    background-color: $accent;
    border: none;
    border-radius: 4px;
    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    height: 57px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 233px;
  }
}
