.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
  width: 90%;

  & .listHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &:after {
      align-self: flex-end;
      background-color: #424242;
      content: "";
      height: 4px;
      position: absolute;
      width: 90%;
      z-index: 1;
    }

    & .filter {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-transform: uppercase;

      & .item {
        padding: 20px 0;
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        cursor: pointer;

        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 15px;
        }

        &:not(:first-child):not(:last-child) {
          margin: 0 15px;
        }

        &:hover {
          opacity: 0.7;
        }
      }

      & .active {
        border-bottom-color: #F65261;
        z-index: 2;
      }
    }

    & .dropdown {
      align-items: center;
      color: #fff;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      & .tag {
        margin-right: 15px;
        opacity: 0.6;
      }

      & .options {
        margin-left: 15px;
        margin-right: 13px;
      }

      & .icon {
        color: #F65261;
      }
    }
  }

  & .totalItems {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    width: 100%;

    & p {
      & span {
        font-weight: 500;
      }
    }

  }

  & .cardsList {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -12px;
    width: 100%;
  }
}
