body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #232323;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
